---
import { css } from 'ui/css'
import Stack from '@/components/stack.astro'
import type { Position } from '@/data/positions'
import type { Code, Debug } from 'astro:components'
import DateFormatted from './date_formatted.astro'

import LogoAmbition from './logo_ambition.astro'
import LogoTrabian from './logo_trabian.astro'
import LogoEmplify from './logo_emplify.astro'
import LogoBluebridge from './logo_bluebridge.astro'

const position: Position = Astro.props.position

// title: 'Founder',
// company: 'Ambition',
// logo: '/images/ambition.png',
// startDate: new Date('2021-01-01'),
// endDate: new Date('2023-12-31'),
// impactPoints: [
// 	'Founded a company',
// 	'Led a team of 5 developers',
// 	'Launched a product',
// ],

// const { position }: { position?: Position } = Astro.props
---

<div
	class={css({
		display: 'grid',
		gridColumn: '1 / span 3',
		gridTemplateColumns: 'subgrid',
		'--svg-fill-opacity': 0,
		'--svg-stroke-opacity': 1,
		'& #show-date': {
			display: 'none',
		},
		_hover: {
			'--svg-fill-opacity': 1,
			'--svg-stroke-opacity': 0,
			'& #show-date': {
				display: 'flex',
			},
		},
	})}
>
	<Stack justifyContent="center" alignItems="end" gridColumn="1">
		<div class={css({ w: 10, p: 0 })}>
			{position.logo === 'ambition' && <LogoAmbition />}
			{position.logo === 'trabian' && <LogoTrabian />}
			{position.logo === 'emplify' && <LogoEmplify />}
			{position.logo === 'bluebridge' && <LogoBluebridge />}
		</div>
		<p>{position.company}</p>
		<div id="show-date">
			<Stack direction="column" gap="0" alignItems="end" color="muted">
				<DateFormatted
					date={position.endDate}
					format={{ day: undefined }}
				/>
				<DateFormatted
					date={position.startDate}
					format={{ day: undefined }}
				/>
			</Stack>
		</div>
	</Stack>
	<Stack justifyContent="center" gap="0" gridColumn="2">
		{
			position.impactPoints.map((point: String) => (
				//
				<p>{point}</p>
			))
		}
		<p><span class={css({ color: 'muted' })}>as {position.title}</span></p>
		<!-- <p>from {position.startDate} to {position.endDate}</p> -->
	</Stack>
	<!-- <Stack>projects</Stack> -->
</div>
